[submodule "libflex/FLEX"]
	path = libflex/FLEX
	url = https://github.com/waruhachi/FLEX
	branch = main

[submodule "libreflex/Reflex"]
	path = libreflex/Reflex
	url = https://github.com/waruhachi/Reflex
	branch = main
